<div class="position-sticky ms-3" style="top: 125px;">
    <h6 class="border-bottom pb-3 mb-3 text-uppercase text-muted">
        On this page
    </h6>

    <ul class="nav flex-column fs-6">

        <li class="nav-item">
            <a class="nav-link px-3 py-1 link-secondary " href="#about">
                About
            </a>
        </li>

        {% for section in site.sections %}
        <li class="nav-item">
            <a class="nav-link px-3 py-1 link-secondary " href="#{{ section[0] | downcase }}">
                {{ section[0] }}
            </a>
        </li>
        {% endfor %}

    </ul>
</div>